/* CSS for Short URL Tool */
div.test-url-button {
  display: inline-block;
  float: none;
  margin-top: 0;
}
div.test-url-button a {
  display: block;
  padding: 0 4px;
  color: #00008b;
  white-space: nowrap;
}
div.test-url-button a:hover {
  background-color: #eaeaea;
  background-image: linear-gradient(top,#EAEAEA,#FFF);
  background-image: -moz-linear-gradient(top,#EAEAEA,#FFF);
  background-image: -webkit-gradient(top,#EAEAEA,#FFF);
  background-image: -webkit-linear-gradient(top,#EAEAEA,#FFF);
  background-image: -o-linear-gradient(top,#EAEAEA,#FFFF);
  background-image: -ms-linear-gradient(top,#EAEAEA,#FFF);
}
