div.try-short-url-button {
  display: inline-block;
  float: none;
  margin-top: 0;
}
div.try-short-url-button a {
  display: block;
  padding: 0 4px;
  white-space: nowrap;
}
div.try-short-url-button a:hover {
  background-color: #EAEAEA;
  background-image:linear-gradient(top,#EAEAEA,#FFF);
  background-image:-moz-linear-gradient(top,#EAEAEA,#FFF);
  background-image: -webkit-gradient(top,#EAEAEA,#FFF);
  background-image: -webkit-linear-gradient(top,#EAEAEA,#FFF);
  background-image:-o-linear-gradient(top,#EAEAEA,#FFFF);
  background-image:-ms-linear-gradient(top,#EAEAEA,#FFF);
}
